{extends file="main.tpl"}
{block name="contents"}
<h1 align="center">ACCOMMODATION</h1>

<DL>
<DT><a href="http://intl-house.howard-hotels.com/" target="_blank">Howard International House</a></DT>
<DD>
<center><img src="images/accommodation03.jpg" width="270"></center><br>
Under the direct management of Howard & Resorts International, Howard International House provides you with a pleasant and modern environment. Also, because it is just at the Civil Service Development Institute, you can easily get here from MRT Taipei Main station by bus 671. It is the nearest hotel with a 5-minute walking distance to the LeCosPA Building. Thus, if you don??t want to take more time getting to the LeCosPA Building, Howard International House is the one you want. At night, you can walk to <a href="http://sinotour.com/tourguide/nightmarket/taipei/shida-night-market.html" target="_blank">Shida Night Market</a> to have a taste of Taiwanese cuisine. There are a variety of cheap foods that will definitely amaze you! 
<br><br>
For further information: <a href="http://intl-house.howard-hotels.com/?Lsn=2" target="_blank">http://intl-house.howard-hotels.com/?Lsn=2</a>
<br><br>
We have blocked a number of rooms at Howard International House. If you would like to book a room there, please contact and inform its reservation department that you are the participant of LeCosPA symposium.
<br><br>
<center><img src="images/accommodation03-2.png" width="500"></center><br>
</DD>

</DL>
</DL>
<DL>
<DT><a href="http://www.ga.ntu.edu.tw/general/service_01.jsp?s=2&si_id=SI1195191903734&npage=1&selctid=&selid=" target="_blank">Lu-Ming Guest House</a></DT>
<DD>
<center><img src="images/accommodation01.jpg"></center><br>
Located on the NTU campus, Lu-Ming Guest House is the best choice if you ask for the serenity. Since it is on the campus, you can enjoy the tranquil and relaxed environment here. Perhaps, you can take a walk on the campus in the evening after working all day long to relieve yourself. Moreover, compared to other hotels near around, Lu-Ming Guest House is much cheaper. If budget is what you concerned, here is truly a good option for you.
<br><br>
We have blocked rooms at the Lu-Ming Guest House. If you want to stay there, please contact and inform its reservation department that you are the participant of LeCosPA symposium.
</DD>
</DL>



<style type="text/css">

table,th, td
{
border: 1px solid black;
}

th
{
background-color: #666666;
color:white;
padding:5px;
}
</style>

<table>
<tr>
	<th>Floor</th>
	<th>Number of Rooms</th>
	<th>Style</th>
	<th>Price</th>
	<th>Note</th>
</tr>
<tr>
	<td>1F</td>
	<td>2</td>
	<td>for 2 persons</td>
	<td>NT$ 1400</td>
	<td></td>
</tr>
<tr>
	<td>2F</td>
	<td>8</td>
	<td>for 2 persons</td>
	<td>NT$ 1400</td>
	<td></td>
</tr>
<tr>
	<td>3F</td>
	<td>8</td>
	<td>for 2 persons</td>
	<td>NT$ 1400</td>
	<td></td>
</tr>
<tr>
	<td>4F</td>
	<td>8</td>
	<td>for 2 persons</td>
	<td>NT$ 1700</td>
	<td>Sharing public bathrooms</td>
</tr>
</table>

<br><center><img src="images/accommodation01-2.png" width="500"></center><br>
{/block}
