{extends file="main.tpl"}
{block name="contents"}

<h1 align="center">
Second Announcement of the 1<sup>st</sup> LeCosPA Symposium (LeCosPA2012)</h1>

<P>&nbsp; &nbsp;
As the time for the 1<sup>st</sup> LeCosPA Symposium is gradually approaching, we are
pleased to update with you its development. So far most of the invited Plenary
Speaker have made their commitments to attend this meeting. In addition we are
very pleased to have rapidly filled up the slots for invited and contributed
speakers in the Parallel Sessions. As for the social events, everything has been
organized swiftly. We expect this meeting to be very exciting indeed.
</P>
<P>&nbsp; &nbsp;
In order to further the bases of the participation, we have decided to extend
the <b>deadline</b> of registration until <b>December 31, 2011</b>. There are still rooms for
contributed talks in the <b>Parallel Sessions</b> and we strongly encourage you to
volunteer yourself to share with us your latest findings in cosmology and
particle astrophysics. In addition, we have decided to create a <b>Poster Session</b> to
encourage presentations from post-docs and students. We have set aside a
limited amount of our resource to provide financial support for students. Please
send us message to inquire.
</P>
<P>&nbsp; &nbsp;
Please do feel free to ask for our assistance with regard to your booking for
the hotel accommodation and other logistic issues.
</P>
<P>&nbsp; &nbsp;
Sincerely,<br>
LeCosPA2012 Organizing Committee and Staff
</P>
{/block}