{extends file="main.tpl"}
{block name="contents"}
<h1 align="center">
Third Announcement of the 1<sup>st</sup> LeCosPA Symposium (LeCosPA2012)</h1>



<p>&nbsp; &nbsp;Thank you so much for your support and patience. The program of our symposium is finally ready. For more program details, please <strong><a href="http://lecospa.ntu.edu.tw/LeCosPA2012/program.php" target="_blank">click here</a></strong>. We are very pleased with the exciting program, both scientifically and socially, and we hope you would feel the same.</p>
<p>&nbsp; &nbsp;There is, however, one bad news to report. Originally we planned to hold a ceremony at the opening of this symposium to celebrate the inauguration of the new LeCosPA Building. To our great disappointment, the structure of the original Dormitory 13, which was decreed by the university as a historical building but was given to LeCosPA for remodeling, was found unsafe and has to be demolished. The original remodeling plan was thus regrettably demised. While disappointed, we are most pleased to report that a plan to build a brand new LeCosPA Building from ground zero at the same site, which will be much larger and better, has already been launched. </p>
<p>&nbsp; &nbsp;Instead of the inauguration ceremony, we will now celebrate the 4th anniversary of the NTU LeCosPA Center at 9:00-9:30 at the opening of our symposium. Several university presidents, directors of LeCosPA¡¦s sister institutions and PIs of LeCosPA¡¦s collaborating projects will give short speeches at the opening ceremony. </p>
<p>&nbsp; &nbsp;As the time of the symposium is imminent, please do feel free to ask for our assistance with regard to your booking for the hotel accommodation and other logistic issues. Please be reminded, however, that the Chinese New Year¡¦s Day lands on Jan. 23 this year and no office will be open from Jan. 21 to 29. The offices will reopen on 1/30 (Monday). So please forgive us if our response to your inquiry during the week of 1/22 is slow. </p>
<p>&nbsp; &nbsp;Happy Chinese New Year!</p>
<p>&nbsp; &nbsp;Sincerely,<br>LeCosPA2012 Organizing Committee and Staff</p>
{/block}