{extends file="main.tpl"}
{block name="contents"}
<h1 align="center">First Announcement of the First LeCosPA Symposium (LeCosPA2012)</h1>

<p>&nbsp; &nbsp;
There have been dramatic breakthroughs in cosmology and particle astrophysics during the past two decades that have 
since revolutionized our worldview. After the tremendous progress in physics in the last century, 
we now recognize that we only understand no more than 5% of the substance in the universe. 
The remaining 95% of it is believed to be made of ??dark matter?? and ??dark energy??, 
whose nature is still to be determined. 
There are numerous additional surprises found and new puzzles raised. 
Aspired to make contributions in this exciting field, 
the National Taiwan University founded the Leung Center for Cosmology and Particle Astrophysics (LeCosPA) in 2007 
with the generous donation of the co-founder and CEO of the Quanta Computers, Inc., Mr. Chee-Chun Leung.
</p>
<p>&nbsp; &nbsp;
To celebrate the inauguration of the LeCosPA permanent building, 
we are pleased to organize the First LeCosPA Symposium (LeCosPA2012) on Feb. 6-9, 2012. 
Although we have organized various topical workshops and schools over the past four years, 
we feel it timely to organize our first formal symposium in conjunction with the completion of 
LeCosPA??s permanent building to review the progress and to explore future directions of cosmology 
and particle astrophysics. 
</p>
<p>&nbsp; &nbsp;
The dates of the symposium are chosen to coincide with the first major traditional festivity into the Chinese New Year, 
the Lantern Festival, on the 15th day of the 1st month in the lunar calendar. 
Traditionally the New Year festivity lasts for 15 days and it ends with the Lantern Festival, 
which falls on Feb. 6 for the next year. 
This is a very joyous and colorful festival and we plan to organize a special excursion in that evening to a small town, 
Ping-Xi, to observe the release of thousands of wishing lanterns slowly ascending to the sky, a very moving scene. 
We will organize other activities during the symposium in addition to the Lantern Festival excursion. 
We are aspired to make this meeting both exciting in scientific exchange and fulfilling in cultural enrichment.
</p>
<p>&nbsp; &nbsp;
We are pleased to announce that so far V. Berezinski, R. Blandford, B. Carr*, L. Z. Fang, P. Gorham, P. Ho, T. Kamae, 
A. Karle, S. P. Kim, H. Kleinert, S. C. Lee, M. Li, B. Q. Ma, H. Murayama, K. Ni, W. T. Ni, T. Padmanabhan, M. Panasyuk, 
I. Park, J. Rafelski, M. Rees*, H. Rosu, L. Roszkowski*, R. Ruffini, P. Sokolsky, W. Unruh, G. Veneziano*, R. Volkas, 
J. Yokoyama (* to be confirmed) and many others have already promised to come. In addition to the invited talks, 
the symposium is now open to the worldwide community for contributed talks and general participation. 
As we have only limited space, you are encouraged to register online as soon as possible through the 
registration form
(<a href="http://lecospa.ntu.edu.tw/LeCosPA2012/registration.php" target="_blank">Click here</a>). 
The deadline of registration for all participants is Nov. 30.
</p>
{/block}