{extends file="main.tpl"}
{block name="contents"}
<h1 align="center">Fourth Announcement of the 1<sup>st</sup> LeCosPA Symposium (LeCosPA2012)</h1>

<p>&nbsp; &nbsp;This is the last announcement before the Symposium. Before you are on your way to Taipei, 
we wish to provide you some information to help you prepare your trip.</p>

<table width="90%" align="center">
<tr>
	<td width="160">1. <u>Symposium Program</u></td>
	<td>The formal name of our symposium is now<br>¡§First LeCosPA Symposium: Towards Ultimate Understanding of the Universe¡¨.<br>Due to the time constraint of some speakers, there has been a revision of the symposium program. Please check out the finalized version at the conference website<br><a href='http://lecospa.ntu.edu.tw/LeCosPA2012/'>http://lecospa.ntu.edu.tw/LeCosPA2012/</a><br></td>
</tr>
<tr>
	<td>2. <u>Presentation File</u></td>
	<td>All speakers should upload his/her file the night before the presentation.<br>
	<a href="http://lecospa.ntu.edu.tw/LeCosPA2012/presentation.php" target="_blank">Please upload your files here. (Click!)</a></td>
</tr>
<tr>
<td>3. <u>Poster Session</u></td>
<td>We decide to set up a Poster Session in the afternoon of Tuesday (2/7). We apologize for such an impromptu decision, but hope that this would provide an additional channel, especially for post-docs and students, of communications. Please let me know if you like to contribute a poster.</td>
</tr>
<tr>
<td>4. <u>Registration</u></td>
<td>Some of you still have not paid the registration fee or the fee for the companion program. Please deposit your fee to the LeCosPA bank account ASAP. If you must pay it upon arrival at the meeting, you will have to pay cash in Taiwan Dollars. We apologize that we do not accept foreign currencies.</td>
</tr>
<tr>
	<td>5. <u>Symposium Location</u></td>
	<td>The symposium will be held in the New Physics Building on NTU campus. The Opening Ceremony and all Plenary Sessions will be in its International Conference Auditorium (R204). Parallel Sessions will be held in R204 and R104. The Poster Session will be in the Entrance Hall.</td>
</tr>
<tr>
	<td>6. <u>Welcome Reception</u></td>
	<td>There will be a Welcome Reception on Sunday (2/5) evening at 18:00-21:00 in the Entrance Hall of the New Physics Building at NTU. Please do come to meet with other participants. Companions are also cordially invited. Directions to the Physics Building from your hotel can be found at the conference website. The registration desk will open at 15:45.</td>
</tr>
<tr>
	<td>7. <u>Weather</u></td>
	<td>The 10-day forecast (<a href="http://www.weather.com">http://www.weather.com</a>) indicates that the weather during our symposium may be unstable with the push-and-pull of cold fronts, which is typical for this season. Specifically it will be sunny and warm [~14C(low)-21C(high)] from Saturday to Monday, followed by rainy and cold [~12C(low)-14C(high)] from Tuesday To Friday. <br>Howard International House will turn on the central heating system only when the temperature is below 10C. But if you have the need, the hotel will provide you a heater for your room.</td>
</tr>
<tr>
	<td>8. <u>Dress Code</u></td>
	<td>¡DThe Welcome Reception is casual; you don¡¦t need to wear too formally.<br>¡DSpeakers of the Opening Ceremony may wear formally, but other participants need not.<br>¡DThe Banquet on Wed. is semi-formal and tuxedo is not needed.<br></td>
</tr>
<tr>
	<td>9. <u>Excursion</u></td>
	<td>Heavy jacket, scarf and gloves can be useful, especially during the excursion to Pingxi. Sneaker or walking shoes is recommended for excursions, especially that to Pingxi, as there may be some walking on the mountain roads.</td>
</tr>
</table>

<br>
<p>&nbsp; &nbsp;As the time of the symposium is imminent, please do feel free to ask for our assistance with regard to your booking for the hotel accommodation and other logistic issues. If you need any help upon arrival at the Tao-Yuan Airport, you can call Yen Ling Anne Lee (0975-831-900) and Shana Lee (0919-294-451) for assistance.</p>

<p>&nbsp; &nbsp;Looking forward to seeing you in Taipei!</p>
<p>&nbsp; &nbsp;Sincerely,<br>LeCosPA2012 Organizing Committee and Staff</p>
{/block}