{extends file="main.tpl"}
{block name="contents"}
<h1 align="center">OPENING CEREMONY</h1>
<center>
	You can download the detailed <a href="images/OpeningCeremony.pdf" target="_blank">Opening Ceremony</a> for more information.
</center>
<br>
<h2>Celebration of the 4th Anniversary of LeCosPA</h2>
<br>
<center>
	<img src="images/OpeningCeremony.jpg" style="width: 500px;">
</center>
<br><br>
<table valign="top" align="center" width="95%">
	<tr valign="top">
		<td width="80">9:00-9:03</td>
		<td> 
			Pisin Chen, Director<br>
			Leung Center for Cosmology and Particle Astrophysics (LeCosPA), National Taiwan University </td>
	</tr>
	<tr>
		<td colspan="2">Presidents:</td>
	</tr>
	<tr>
		<td>9:03-9:08</td>
		<td> Shi-Chen Lee, President<br>
			National Taiwan University
		</td>
	</tr>
	<tr valign="top">
		<td>9:08-9:13</td>
		<td> Jonathan Dorfan, President<br>
			Okinawa Institute of Science and Technology Graduate University (OIST)
		</td>
	</tr>
	<tr valign="top">
		<td colspan="2">Institution Directors:</td>
	</tr>
	<tr valign="top">
		<td>9:13-9:16</td>
		<td> Grzegorz Madejski, Associate Director<br>
			Kavli Institute for Particle Astrophysics and Cosmology (KIPAC), Stanford University
		</td>
	</tr>
	<tr valign="top">
		<td>9:16-9:19</td>
		<td> Hiroaki Aihara, Vice Director<br>
			Institute for Physics and Mathematics of the Universe (IPMU), University of Tokyo
		</td>
	</tr>
	<tr valign="top">
		<td>9:19-9:22</td>
		<td> Remo Ruffini, Director<br>
			International Center for Relativistic Astrophysics Network (ICRANet), Rome </td>
	</tr>
	<tr valign="top">
		<td colspan="2">Principal Investigators of Collaborating Projects:</td>
	</tr>
	<tr valign="top">
		<td>9:22-9:25</td>
		<td> Albrecht Karle (UW-Madison), Principal Investigator<br>
			ARA (Askaryan Radio Array) Observatory </td>
	</tr>
	<tr valign="top">
		<td>9:25-9:28</td>
		<td>Peter Gorham (U. Hawaii) , Principal Investigator<br>
			ANITA (Antarctic Impulsive Transient Antenna)
		</td>
	</tr>
	<tr valign="top">
		<td>9:28-9:31</td>
		<td> Il H. Park (Ewha Woman's U., Seoul), Principal Investigator<br>
			UFFO (Ultra-Fast Flash Observatory) GRB Satellite Telescope
		</td>
	</tr>
	<tr valign="top">
		<td>9:31-9:34</td>
		<td> Guey-Shin Chang, Director General<br>
			National Space Organization (NSPO)
		</td>
	</tr>
</table>
{/block}
