{extends file="main.tpl"}
{block name="contents"}
<h1>SOCIAL PROGRAM</h1>

<center>
You can download the detailed <a href="images/SocialProgram.pdf" target="_blank">Social Program</a> for more information.
</center>

<p>During these fabulous days, we have many interesting activities each day.</p>

<DL>
<DT>Feb, 5</DT>
<DD>On the day before the symposium, we will have open-registration from 15:30~18:00 to make sure all our guests are attended to this symposium. 
Afterwards, there will be an astounding welcome reception to greet all members from all over the world.</DD>
</DL>

<DL>
<DT>Feb,6</DT>
<DD>To celebrate Taiwan Lantern Festival in Taiwan, we schedule to go to Pingxi joining the annual sky lantern activity to experience the local Taiwanese lifestyle. Every year, there must be tons of people gathering together to release lanterns with their dreams written. The flying lanterns symbolizes that dreams will come true.</DD>
<br><center><img src="images/social26-1.jpg" width="200"></center><br>
</DL>

<DL>
<DT>Feb,7</DT>
<DD>To encourage the cultural communication, appreciation and interaction among countries, LecosPa will invite GuoGuang Opera Company to conduct an amazing and classic performance at 18:00 today and we will provide gourmet foods for you to enjoy an unforgettable night.</DD>
<BR>
<DD>GuoGuang Opera Company, existed for 250 years, has always devoted itself to the international exchange in terms of traditional Chinese culture. They conduct peking operas to the worldwide audience to show the representative essences of our traditions such as face-painting, elaborate costume. Over all, GuoGuang Opera Company stands for the Chinese culture and the spirit of classics and perseverance.
</DD>
<BR>
<DD>For further information: <a href="http://eng.kk.gov.tw/onweb.jsp?webno=3333333332" target="_blank">http://eng.kk.gov.tw/onweb.jsp?webno=3333333332</a>
<BR>
<br>

<table align="center" bgcolor="000000">
<tr>
	<td valign="top">
	<center>
	<img src="images/social27-1.jpg">
	</center>
	</td>
	<td>
	<center>
	<img src="images/social27-2.jpg" height="200">
	</center>
	</td>
</tr>
</table>
<br>
</DD>
</DL>

<DL>
<DT>Feb,8</DT>
<DD>To explore and appreciate the Chinese culture, National Palace Museum is the place that first comes across your mind.
National Palace Museum exhibits enormous treasure and preserves ancient collections from the various Chinese dynasties. Inaugurated in 1925, National Palace Museum is the most representative place that shows the essence and beauty of Chinese culture to the world. Also, it holds some international and exhibitions from time to time providing people with various kinds of amazement and enjoyment.</DD>
<br><center><img src="images/social28-1.jpg" height="200"></center><br>
</DL>
{/block}
