{extends file="main.tpl"}
{block name="contents"}

<h1 align="center">COMPANION SOCIAL PROGRAMS</h1>

<center>
You can download the detailed <a href="images/CompanionOptionalProgram.pdf" target="_blank">Companion Optional Programs</a> for more information.
</center>


<DL>
<DT>National Chiang Kai-Shek Memorial Hall</DT>
<DD>
This remarkable memorial hall was built in 1980 to memorize Chaing Kai-Shek, the former President of Taiwan. The memorial hall is in blue, white and red, colors of Taiwanese flag, representing independence, equality and universal love. The hall occupies a large area with a heritage display room and auditorium offering historical exhibitions and some fabulous performances. Moreover, what really impresses people is the solem rifle twirling exchange ceremony among soldiers.
</DD>

<DD>
<br><center><img src="images/com01.jpg"></center><br>
Photo source: <a href="http://taipeitravel.net">http://taipeitravel.net</a> 
(Department of Information and Tourism, Taipei City Government).
</DD>
</DL>

<DL>
<DT>Taipei Botanical Garden</DT>
<DD>
Collecting over 200 species, Taipei Botanical Garden  have two old buildings for visiting. One is the administrative office of Qing Dynasty and the other one is the herbarium. Around 1930, about half of 1,120 species found in Taipei Botanical Garden were from overseas which constitutes a great educational effort in the field of biology and science in general. So far, Taipei Botanical Garden has expanded to the extent that its living collection is over 1,500 species.If you like nature, flowers and trees, this is the must-go place for you to appreciate this botanical variety.
</DD>


<DL>
<DT>Tamsui Fisherman・s Wharf</DT>
<DD>
The old port of Tamsui was completed in 1955. Its location at the estuary provides the port with an excellent view. In recent years, the Taipei County Government has built a wooden trail on the sea dike and expanded the parking area, wharf, tourist fish market and ：Lover・s Bridge；, which helped elevate the wharf・s status as one of the most famous tourist sights in Taiwan.
</DD>

<DD>
<br><center><img src="images/com02.jpg"></center><br>
Photo source: <a href="http://taipeitravel.net">http://taipeitravel.net</a> 
(Department of Information and Tourism, Taipei City Government).<BR><BR>
</DD>

<DD>
Tamsui District is the place where we can witness Spanish building -San Domingo- and the stunning sunset at the riverbank. On the bustling Tamshui old street, there are numerous vendors selling famous traditional snacks including Tamsui A-gei and fish balls which always attract a countless number of tourists. People can experience the local snacks and experience the vintage lifestyle. 
</DD>

<DD>
<br><center><img src="images/com03.jpg"></center><br>
Photo source: <a href="http://taipeitravel.net">http://taipeitravel.net</a> 
(Department of Information and Tourism, Taipei City Government).<BR><BR>
</DD>
</DL>


<DL>
<DT>Bo-Pi Liao Historic District</DT>
<DD>
Bo-Pi Liao Historic District was one of the most prosperous areas in the early Taiwan history. As the main artery in Monga, here, people can see well-preserved streets and conventional homes which hold not only the Qing Dynasty style features but also Japanese and western ones because of the various occupations in the past.
</DD>
<DD>
<br><center><img src="images/com04.jpg"></center><br>
Photo source: <a href="http://taipeitravel.net">http://taipeitravel.net</a> 
(Department of Information and Tourism, Taipei City Government).
</DD>
</DL>

<DL>
<DT>Beitou Hot Springs</DT>
<DD>
The Beitou area is one of the most famous hot spring areas in Taiwan and during the Japanese occupation, Beitou used to be a holy place known for its hot springs. There are many natural hot springs which have different mineral contents and are all reputed to be good for your skin in addition to being relaxed. Once the biggest public bathing place, Beitou Hot Spring Museum, in wooden and red brick building built in 1988 officially, reserves the Beitou・s culture, natural landscape and ancient history. Also, Beitou Park, near the museum, with many Japanese-style attractions such as the arch bridges, temples and houses, provide people with local Japanese style and a sense of living in the ancient Japan.
</DD>
<DD>
<br><center><img src="images/com05.jpg"></center><br>
Photo source: <a href="http://taipeitravel.net">http://taipeitravel.net</a> 
(Department of Information and Tourism, Taipei City Government).
</DD>
</DL>
{/block}