{extends file="main.tpl"}
{block name="contents"}
<h1 align="center">SOCIAL PROGRAM</h1>

<DL>
<DT><a href="excursions1.php">Social Programs</a></DT>
<DD><br><center><img src="images/social001.jpg"></center><br></DD>
</DL>

<DL>
<DT><a href="excursions2.php">Optional Social Programs</a></DT>
<DD><br><center><img src="images/social002.jpg"></center><br></DD>
</DL>

<DL>
<DT><a href="excursions3.php">Companion Social Programs</a></DT>
<DD><br><center><img src="images/social003.jpg"></center><br></DD>
</DL>
{/block}