{extends file="main.tpl"}
{block name="contents"}

<h1 align="center">OPTIONAL SOCIAL PROGRAMS</h1>

<p>During these days, except for the scheduled visiting  National Palace Museum, 
we also offer you some optional social programs that introduces you the beauty of Taiwan.
</p>
<p>
The following spots are the three must-see attractions when you visit Taipei:
</p>

<DL>
<DT>Taipei 101</DT>
<DD>Once recognized as the tallest in the world, 
Taipei 101 tower has 101 stories above ground and five underground. 
As the center of most thriving area, 
there are numerous corporates offices, 
fined restaurants and boutiques in Taipei 101 giving the city more of an international and multi-dimensional profile. 
Thus, the world can recognize Taiwan with this iconic tower rather easily. 
In addition to the annual New Year firework, 
the Taipei 101 changes its lightshow all the time. 
For example, it will show a Christmas tree when the Christmas is coming and interestingly, 
the light of the building are different in every single day. 
They conincide with the days of the week, as you can see:</DD>

<br><center><img src="images/social2-1.jpg"></center><br>

<br>
<DD>
Taipei 101, modern and significant, 
is the landmark skyscraper impressing people from all over the world. 
Don't say you have visited Taipei without knowing this remark.
</DD>
<br><center><img src="images/social2-2.jpg" width=700></center><br>

<DD>
For more information: <a href="http://www.taipei-101.com.tw/index_en.htm" target="_blank">http://www.taipei-101.com.tw/index_en.htm</a>
</DD>
</DL>



<DL>
<DT>Long Shan Temple</DT>
<DD>
If you want to experience the local Chinese culture for worships, 
you must come to Longshan Temple. 
Longshan Temple, built in 1783, 
is still one of the most historical and meaningful temples in Taiwan. 
Located in Mengjia, the most prosperous area in the early Taiwanese history, 
Longshan temple attracts people by its featured cornices, symbolic sculptures, 
traditional markets, calligraphies and fortune tellers. 
Besides, there is a place called Snake Alley where you can see the snake handlers dealing 
with those fierce snakes and serve up them as dinner. 
Longshan Temple is the best choice for you to experience the traditional 
lifestyle and witness the piety of believers.
</DD>
<br><center><img src="images/social2-3.jpg" width=700></center><br>

<DD>
For more information: <a href="http://sinotour.com/tourguide/taipei/longshan-temple.html" target="_blank">http://sinotour.com/tourguide/taipei/longshan-temple.html</a>
</DD>
</DL>



<DL>
<DT>National Chiang Kai-shek Memorial Hall</DT>
<DD>
This remarkable memorial hall was built in 1980 to commemorate the former Taiwan president Chiang Kai-Shek. 
The memorial hall is in blue, white and red, colors of Taiwanese flag, representing independence, 
equality and universal love. 
The hall occupies a large area with a heritage display room and auditorium offering historical exhibitions and 
some fabulous performances .Moreover, what really impresses people is the exchange ceremony among soldiers. 
After five hours permanent standing, they still show their proficiency, 
solemnity and dignity during the exchange process. 
The most worthy spot you have to meet to know the beauty of Taiwanese history and culture.
</DD>
<br><center><img src="images/social2-4.jpg" width=700></center><br>

<DD>
For more information: <a href="http://www.cksmh.gov.tw/eng/index.php" target="_blank">http://www.cksmh.gov.tw/eng/index.php</a>
</DD>
</DL>



<DL>
<DT>Jiufen &amp; Jinguashi Area</DT>
<DD>
Jiufen was famous for the gold mining in Taiwan. 
The gold was discovered and brought into many investors and businessmen, 
so, there was one of the thriving spots in the northern Taiwan. 
Now, as industries shifted the focus to Taipei downtown, 
Jiufen now becomes tourist-oriented place for people visiting the local and ancient atmosphere and having Taiwanese snacks. 
There are many craft shops selling the intricate handicrafts; 
you may probably find something that impresses you. 
Moreover, you can see the spectacular view of Pacific Ocean from the top of the area with breeze blew on your face. 
Tara ball is the must-eat snack when you visit Jiufen. 
Most shops sell this representative food with constant queues outside of shops.
</DD>
<br><center><img src="images/social2-5.jpg" width=700></center><br>
</DL>
{/block}