{extends file="main.tpl"}
{block name="contents"}
<h1 align="center">MAP</h1>
<DL>
<DT>Map of Taiwan</DT>
<DD></DD>
<br>
<center>
<iframe width="700" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=25.021757,121.537478&amp;daddr=&amp;geocode=&amp;sll=25.021062,121.537794&amp;sspn=0.003544,0.004823&amp;vpsrc=6&amp;hl=en&amp;doflg=ptk&amp;mra=mift&amp;mrsp=0&amp;sz=18&amp;ie=UTF8&amp;t=m&amp;ll=28.921631,85.429688&amp;spn=116.959472,245.742188&amp;z=2&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=25.021295,121.538068&amp;daddr=&amp;geocode=&amp;sll=25.021169,121.538422&amp;sspn=0.003544,0.004823&amp;vpsrc=6&amp;hl=en&amp;doflg=ptk&amp;mra=mift&amp;mrsp=0&amp;sz=18&amp;ie=UTF8&amp;t=m&amp;ll=28.921631,85.429688&amp;spn=116.959472,245.742188&amp;z=2" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</center>

<br>

</DL>

<DL>
<DT>Map of Taipei City</DT>
<DD></DD>
<br>
<center>
<iframe width="700" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=25.021757,121.537478&amp;daddr=&amp;geocode=&amp;sll=25.021062,121.537794&amp;sspn=0.003544,0.004823&amp;vpsrc=6&amp;hl=en&amp;doflg=ptk&amp;mra=mift&amp;mrsp=0&amp;sz=18&amp;ie=UTF8&amp;t=m&amp;ll=25.071295,121.548615&amp;spn=0.279878,0.479965&amp;z=11&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=25.021295,121.538068&amp;daddr=&amp;geocode=&amp;sll=25.021169,121.538422&amp;sspn=0.003544,0.004823&amp;vpsrc=6&amp;hl=en&amp;doflg=ptk&amp;mra=mift&amp;mrsp=0&amp;sz=18&amp;ie=UTF8&amp;t=m&amp;ll=25.071295,121.548615&amp;spn=0.279878,0.479965&amp;z=11" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</center>
<br>
</DL>

<DL>
<DT>Map of NTU Campus</DT>
<DD></DD>
<br>

<center>
<iframe width="700" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=25.021757,121.537478&amp;daddr=&amp;geocode=&amp;sll=25.021062,121.537794&amp;sspn=0.003544,0.004823&amp;vpsrc=6&amp;hl=en&amp;doflg=ptk&amp;mra=mift&amp;mrsp=0&amp;sz=18&amp;ie=UTF8&amp;t=m&amp;ll=25.018184,121.538508&amp;spn=0.00875,0.014999&amp;z=16&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=25.021757,121.537478&amp;daddr=&amp;geocode=&amp;sll=25.021062,121.537794&amp;sspn=0.003544,0.004823&amp;vpsrc=6&amp;hl=en&amp;doflg=ptk&amp;mra=mift&amp;mrsp=0&amp;sz=18&amp;ie=UTF8&amp;t=m&amp;ll=25.018184,121.538508&amp;spn=0.00875,0.014999&amp;z=16" style="color:#0000FF;text-align:left">View Larger Map</a></small>
<br>
<img src="images/map03.jpg" width="700"><br>
<small><a href="images/map03.jpg" target="_blank">Click here to download the map in JPG format.</a></small></center>
<br>
</DL>

<br>
{/block}
