{extends file="main.tpl"}
{block name="contents"}
<h1>organization</h1>

<dl>
	<dt><a href="http://lecospa.ntu.edu.tw/" target="_blank">LeCosPA</a></dt>
	<dd>LeCosPA is a university-level research center of the National Taiwan University founded in 2007 through the primary donation of Mr. Chee-Chun Leung, Co-founder and Vice President of the Taiwan based Quanta Computers, Inc. LeCosPA is dedicated to the advancement of cosmology and particle astrophysics.</dd>
</dl>

<dl>  
	<dt>Local Organizing Committee:</dt> 
	<dd>Pisin Chen (Chair)</dd>
	<dd>Tzi-Hong Chiueh</dd>
	<dd>Je-An Gu</dd>
	<dd>Guey-Lin Lin</dd>
	<dd>Min-Zu Wang</dd>
</dl>

<dl>  
	<dt>Symposium Secretariat:</dt> 
	<dd><B>Yen-Ling Lee</B></dd>
	<dd>E-mail:ntulecospa@ntu.edu.tw</dd>
	<br>
	<dd><B>Kathy Ho</B></dd>
	<dd>E-mail:channelk1983@gmail.com</dd>
	<br>
	<dd><B>Tien-Chi Liu</B></dd>
	<dd>E-mail:ltc@phys.ntu.edu.tw</dd>
	<br>
	<dd><B>Greta Chuang</B></dd>
	<dd>gretayyc@gmail.com</dd>
</dl>
{/block}