{extends file="main.tpl"}
{block name="contents"}
<h1>SCIENTIFIC PROGRAM</h1>
<center>
	<a href="images/Program1.pdf" target="_blank">Symposium Program (PDF)</a>?@?@?@
	<a href="images/Program2.pdf" target="_blank">Scientific Program (PDF)</a><br>
	<br><br>
	<img src="images/program01.jpg" width="700">
	<br><br>
	<img src="images/program02.jpg" width="700"><br>
	<br><br>
	<HR>
	<br><br>
	<img src="images/SProgram00.jpg" width="700">
	<br><br>
	<img src="images/SProgram01.jpg" width="700">
	<br><br>
	<img src="images/SProgram02.jpg" width="700">
	<br><br>
	<img src="images/SProgram04.jpg" width="700">
	<br><br>
	<img src="images/SProgram05.jpg" width="700">
</center>
{/block}
