{extends file="main.tpl"}
{block name="contents"}
<style>
#a tr, #a td, #a th { 
	border: 1px solid #000;
	padding: 5px;
}
#a th {
	background-color:#666666;
	color: white;
}
</style>
<h1 align="center">TRANSPORTATION</h1>
<h2>Taiwan Taoyuan International Airport</h2>
<p>After arriving at Taiwan Taoyuan international airport, you can choose the best way to reach the LecosPA center.</p>
<DL>
<DD><span style="color: blue; font-weight: bold;">
Kuo-kuang motor transport, Kuokuang Line 1891??Taipei Railways station?? Bus 671??Civil Service Development Institute station(85 mins estimated)<br><br>
Kuo-kuang motor transport, Kuokuang Line 1891??Taipei Railways station?? MRT Gonguan station,exit#3 (75 mins estimated)
</span><br><br>
First, you can take Kuo-kuang motor transport, line 1891 to Taipei Railways station which is also called MRT Taipei Main Station. It takes near one hour to get the Taipei Railways station with fare NT$125. Next, take the MRT Xindian Line to Gongguan station and get off from exit#3 and there you can see the main gate of NTU. It only takes 15 minutes without any other transfer OR you can take the bus 671 from MRT Taipei Main station and go directly to the Civil Service Development Institute station, but it takes longer time.
<br><br>
Kuo-kuang motor transport Fare: NT$125, Interval: 15-20 mins<br>
MRT Fare: NT$20<br>
BUS Fare: NT$15<br>
</DD>
</DL>

<br>

<table width="90%" align="center">
<tr>
	<td>
	<center>
	<img src="images/transportation01.jpg" height="200"><br><br>Kuo-kuang motor transport<br>
	</center>
	</td>
	<td>
	<center>
	<img src="images/transportation02.jpg" height="200"><br><br>Taipei MRT<br>
	</center>
	</td>
</tr>
</table>
<br>
<br>
<h2>Taipei SongShan Airport</h2>
<p>If your plane lands at the Taipei Songshan Airport, you can have these ways to get the spot.</p>
<DL>
<DD>
<font color=blue><b>
Taipei Songshan Airport?? Bus 254?? MRT Gonguang station,exit#3 (35mins estimated)
<br><br>
Taipei Songshan Airport?? MRT SongShan Airport station?? MRT Zongxiao Fuxing station?? MRT Taipei Main Station?? MRT Gonguan station (30 mins estimated)
</b></font>
<br><br>
You can take the bus 254 directly to MRT Gonguan station OR you can take MRT MuzhaNeihu Line from SongShan Airport station to Zongxiao Fuxing station and transfer to Taipei Main Station and then take Xindian Line to MRT Gonguang station. The main gate of NTU is at the exit#3.
<br><br>
</DD>
</DL>

<DL>
<DD>
<font color=blue><b>Taxi</b></font>
<br><br>
The less time-consuming way is to take taxi. There are many taxis outside the arrival halls of both terminals (T1 and T2). You can reach the LecosPA center with this address: No. 1, Sec. 4, Roosevelt Road, Taipei.
<br><br>
<b>Fare:</b>
<br>Taxi fare is based on the meter plus a 15% surcharge (highway tolls not included). Airport taxis transport passengers to everywhere in Taiwan. 
<br>The estimated price from Taoyuan International Aairport to National Taiwan University is 1000~1200 (NT dollars.)
<br><br>

<strong>Based Taxi Pricing System</strong>

<table style="width: 100%;" id="a">
<tr>
	<th colspan="2" width="50%">Daytime (06:00~23:00)</th>
	<th colspan="2" width="50%">Nighttime (23:00~06:00)</th>
</tr>
<tr>
	<td>Begin the journey</td>
	<td width="20%">NT$70 (1.25 km)</td>
	<td>Begin the journey</td>
	<td width="20%">NT$70 (1.25 km)</td>
</tr>
<tr>
	<td>Along the journey</td>
	<td>NT$5 (per 250m)</td>
	<td>Proceed the journey</td>
	<td>NT$5 (per 250m)</td>
</tr>
<tr>
	<td rowspan="2">Waiting time fee<br>(speed per hour is at below 5km)</td>
	<td rowspan="2">NT$5 (per 100 sec)</td>
	<td>Waiting time fee<br>(speed per hour is at below 5km)</td>
	<td>NT$5 (per 100 sec)</td>
</tr>
<tr>
	<td colspan=2>Additional charge of NT$ 20</td>
</tr>
<tr>
	<td>Notes</td>
	<td>'Extra fare-charged' as required</td>
	<td colspan="2">Apart from 'extra fare-charged at nighttime', NT$20 is charged for each journey</td>
</tr>
</table>
</DD>
</DL>
{/block}
