{extends file="main.tpl"}
{block name="contents"}
<h1>WEATHER</h1>
<DL>
<DT><a href="http://www.weather.com/weather/today/Taipei+Taiwan+TWXX0021" target="_blank">Taipei City Weather Forecasts</a></DT>
<DD></DD>
</DL> 

<DL>
<DT>WEATHER IN FEBRUARY</DT>
<DD>
The average temperature in Taipei is 17.7?XC.
Usually, there are cold fronts coming from the north in February; Taipei, located in northern part of Taiwan, is likely to be rainy and cool. Also, the chance of rainfall is quite high compared to other cities in Taiwan. If you are sensitive to this averagely low temperature, it is important to bring some coats with you to defend the coldness.
</DD>
</DL>

<DL>
<DT>The annual rainfall data from 2005 to 2011</DT>
<DD>These references are provided for you to inform you the yearly rainfall so you can be well-prepared when it rains.
<br><br><center><img src="images/weather01.jpg"></center><br>
</DD>
<DD>1. "-" precipitation is 0.</DD>
<DD>2. "T" means trace.</DD>

<br><center><img src="images/weather02.jpg"></center>
</DL>
{/block}
